body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.p-top {
  font-size: 20px;
}
.half-width {
  width: 50%;
  padding: 3%;
}
.half-width img {
  width: 80%;
}
.btn-hire-me {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.btn-hire-me:hover {
  background: black;
  color: orange;
  border: 2px solid orange;
}
.top-banner {
  background-image: url(main-pics/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(main-pics/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.exp-h1 {
  padding-left: 5%;
}
.exp-h2 {
  font-size: 40px;
}
.exp-items {
  width: 50%;
  margin-left: 5%;
  margin-right: 20px;
  box-shadow: 5px 5px 50px black;
  padding: 20px;
  text-align: justify;
  border-radius: 10px;
}
.experience-area {
  background-image: url(main-pics/exp-bg.png);
  background-repeat: no-repeat;
}
#exp-item-1 {
  border-left: 7px solid blue;
}
#exp-item-2 {
  border-left: 7px solid tomato;
}
footer p{
  text-align: center;
  font-size: 20px;
}